<!-- Основная структура HTML-документа -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Автосервис</title>
</head>

<body>

    <!-- Интерфейс для ввода VIN-кода и отображения результатов -->
    <h2>Поиск автомобиля по VIN:</h2>
    <input type="text" id="vinInput" placeholder="Введите VIN">
    <button onclick="fetchCarData()">Поиск</button>

    <h3>Результат:</h3>
    <pre id="carData"></pre>

    <!-- JavaScript код для обработки запросов на бэкенд -->
    <script>
        function fetchCarData() {
            const vin = document.getElementById('vinInput').value;
            fetch(`http://127.0.0.1:5001/api/car/${vin}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('carData').textContent = JSON.stringify(data, null, 2);
                })
                .catch(error => {
                    console.error("Error:", error);
                    document.getElementById('carData').textContent = 'Ошибка при поиске автомобиля';
                });
        }
    </script>

</body>

</html>